* {
    box-sizing: border-box;
}

body {
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
}

section {
    width: 83vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 47px;
    position: relative;
}

h1 {
    font-size: 56px;
    color: #75B79E;
    margin-top: 40px;
    text-align: center;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 20px;
    margin-top: 50px;
}
h4{
    font-size: 22px;
}
.card {
    width: 117px;
    height: 146px;
    position: relative;
    margin: 0px 17px 34px 17px;
    border: none;
    outline: none;
    cursor: pointer;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.back {
    transform: rotateY(180deg);
}

.flip {
    transform: rotateY(-180deg);
}

.flip2 {
    transform: rotateY(0deg);
}

.card img {
    width: 100px;
    height: 100px;
}

.timer-container {
    position: absolute;
    top: -35px;
    right: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(202, 25, 25);

}

.timer-container ion-icon {
    font-size: 30px;
}
.timer-container span {
    font-size: 30px;
}




/* Modal */
.modal-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 300px;
    height: 250px;
    background-color: #75B79E;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    position: relative;
}

.modal-text {
    margin: 21px 25px 2px 25px;
    color: #EEF9BF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.retry {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 25px;
}
.retry span{
    font-size: 22px;
}
.retry:hover {
    cursor: pointer;
}
.retry h4:active {
   font-size: 18px;
}
.modal-text ion-icon {
    font-size: 30px;
}


@media (max-width: 400px) {
    h1 {
        font-size: 36px;
    }
    section{
        width: 151px;
    }
}